{% extends "base.html" %}

{% block content %}

<h1 style="color: coral;">
  Hii {{ name }} Welcome to our Library as Librarian
</h1>

<!--Banner style-->
 <div class="container mt='5'">
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='image/image3.jpg')}}" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='image/image2.jpg')}}" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='image/image1.jpg')}}" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>
<br>
<div class="card card-subtle theme-secondary" style="width: 18rem; margin-left: 30px;">
  <div class="card-body">
    <h4 class="card-title" style="color:rgb(255, 165, 0);">Available Books:</h4>
    <div class="card-text">{{total_books}}</div>
    <a href="view" class="btn-solid theme-primary" style="text-decoration: none;">click for View Books:</a>
  </div>
</div>
<div class="card card-subtle theme-secondary" style="width: 18rem; margin-left: 350px; margin-top: -120px;">
  <div class="card-body">
    <h4 class="card-title" style="color:rgb(255, 165, 0);">Available Copies:</h4>
    <div class="card-text">{{total_copies}}</div>
    <a href="view" class="btn-solid theme-primary" style="text-decoration: none;">click for View Books:</a>
  </div>
</div>
<div class="card card-subtle theme-secondary" style="width: 18rem; margin-left: 670px; margin-top: -120px;">
  <div class="card-body">
    <h4 class="card-title" style="color:rgb(255, 165, 0);">Available Students:</h4>
    <div class="card-text">{{total_students}}</div>
    <a href="view_student" class="btn-solid theme-primary" style="text-decoration: none;">click for View Students:</a>
  </div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
    <div class="container w-50">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}} 
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     </div>
    {% endfor %}
  
  {% endif %}
{% endwith %}

{% endblock %}    