<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body style="background-image: url(static/image/library.jpg); background-repeat: no-repeat; background-position: center; background-size: cover; background-attachment: fixed;">
    <div class="container w-50 p-3 border bg-light rounded-3 mt-5">
      <div style="max-width:350px; margin:30px auto; padding:20px; border:1px solid #ddd; border-radius:10px; background:#fff; text-align:center; font-family:Arial, sans-serif; box-shadow:0 2px 8px rgba(0,0,0,0.1);">

       <h3 style="margin:0 0 20px; color:#333;">Login with !</h3>

       
       <a href="student_login"
       style="display:block; width:100%; box-sizing:border-box; padding:12px; margin-bottom:12px; background:coral; color:#fff; text-decoration:none; border-radius:6px; font-weight:bold;">
        Login Student
      </a>

      <a href="loginlib"
       style="display:block; width:100%; box-sizing:border-box; padding:12px; background:coral; color:#fff; text-decoration:none; border-radius:6px; font-weight:bold;">
        Login Librarian
       </a>

     </div>
    </div>
  

     
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>