{% extends "base.html" %}


{% block content %}


<h1 class="text-center mt-5">Return Book!</h1>


    <div class="container w-50 p-3 border bg-light rounded-3 mt-5">
    <form method="POST" action="{{url_for('return_book')}}">


    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Student ID</label>
    <input type="number" class="form-control" name="student_id">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Enter Book Id</label>
    <input type="number" class="form-control" name="book_id">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
    <div class="container w-50">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}} 
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
     </div>
    {% endfor %}
  
  {% endif %}
{% endwith %}

{% endblock %}  
