{% extends "base.html" %}

{% block content %}

<h1 class="text-center mt-5">Update Book !</h1>


    <div class="container w-50 p-3 border bg-light rounded-3 mt-5">
    <form method="POST" action="{{ url_for('update_book', id=book.id) }}">

        <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Book ID</label>
    <input type="number" class="form-control" name="id" value="{{book.id}}" readonly>
  </div>

    <div class="mb-3">
    <label for="exampleInputTitle" class="form-label">Enter New Title</label>
    <input type="text" class="form-control" name="Title" value="{{book.Title}}" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputCategory" class="form-label">Email New Category</label>
    <input type="text" class="form-control" name="Category" value="{{book.Category}}" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputAuthor" class="form-label">Enter New Author</label>
    <input type="text" class="form-control" name="Author" value="{{book.Author}}" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputAuthor" class="form-label">Enter quantity</label>
    <input type="number" class="form-control" name="Quantity" value="{{book.Quantity}}" required>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}